<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Video Juego - Crear</title>
</head>
<body>
<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" th:href=@{/}>
        <img th:src="@{/img/logo.png}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Video Juegos
    </a>
    <form class="form-inline" th:action="@{/buscar}">
        <input name="q" class="form-control mr-sm-2" type="search" placeholder="Nombre del juego" aria-label="Search" autofocus="autofocus">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
</nav>

<div class="container mt-4 vj-destacados">
    <div class="row">
        <div class="col col-md-12 text-right mb-4">
            <a th:href="@{/}" class="btn btn-outline-warning">Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Nuevo Video Juego</h1>
            <form method="POST" th:action="@{/videojuegos/guardar}" th:object="${videojuego}">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Nombre del Video Juego">
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea class="form-control" th:field="*{descripcion}" id="descripcion" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="imagenUrl">URL de la imagen</label>
                    <input type="text" class="form-control" th:field="*{imagenUrl}" id="imagenUrl" placeholder="Url imagen">
                </div>
                <div class="form-group">
                    <label for="distribuidor">Distribuidor</label>
                    <select class="form-control" id="distribuidor" th:field="*{distribuidor.id}">
                        <option th:each="distribuidor : ${distribuidores}" th:value="${distribuidor.id}" th:text="${distribuidor.nombre}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/alarcon-osorio"> @github.com/alarcon-osorio</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
</html>